{% extends "www/base_template.html" %}

{% block title %}New Claim{% endblock title %}

{% block activeClaims %}active{% endblock activeClaims %}

{% block user %}{{username}}{% endblock user %}

{% block proPic %}{{pro_pic}}{% endblock proPic %}

{% block content %}

<iframe class="iframe" scrolling="no" src="/create-claim" style="border: 0px none; margin-left: 250px; margin-top: auto; width: 1300px; height: 1200px;">
</iframe>


{% endblock %}

{% block script %}
<script type="text/javascript" src="js/create_issuepolicy_style.js"></script>
{% endblock script %}