{% extends "www/base_template.html" %}

{% block activeOperatorAG %}active{% endblock activeOperatorAG %}

{% block title %}Operator{% endblock title %}

{% block user %}{{username}}{% endblock user %}

{% block proPic %}{{pro_pic}}{% endblock proPic %}

{% block content %}

<div class="dashboard-wrapper">
    <div class="dashboard-influence">
        <div class="container-fluid">

            <div class="row">
                <div class="col-lg-12">
                    <div class="section-block title-bar">
                        <h3 class="section-title">Operators</h3>
                        <a href="/add_operator" class="create-button">Add Operator</a>
                    </div>

                    <div class="card filter-bar">
                        <div class="campaign-table table-responsive">

                            <!-- Filter Section -->
                           <form action="/operator_list" method="post">
                               <!-- Filter by Policy Number -->
                                {% if params.name==None or params.name=="" %}
                                    <input type="text" name="name" list="name" autocomplete="off" placeholder="Operator">
                                {% else %}
                                    <input type="text" name="name" list="name" autocomplete="off" value="{{params.name}}">
                                {% endif %}
                                <datalist id="name">
                                    {% for op in operators %}
                                        <option value="{{op.name}}">{{op.name}}</option>
                                    {% endfor %}
                                </datalist>

                                <input type="submit" value="Filter">
                           </form>
                        </div>
                    </div>
                    <div class="card">
                        <div class="campaign-table table-responsive">
                            <table class="table">
                                <thead>
                                    <tr class="border-0">
                                        <th class="border-0">Operator Name</th>
                                        <th class="border-0">Operator Code</th>
                                        <th class="border-0">Union</th>
                                        <th class="border-0">Territory</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if operators|length > 0 %}
                                        {% for operator in operators %}
                                            <tr>
                                                <td><a href="view_operator/{{operator.name}}" class="item-view">{{operator.name}}</a></td>
                                                <td>{{operator.operator_code}}</td>
                                                <td>{{operator.union}}</td>
                                                <td>{{operator.territory}}</td>
                                            </tr>
                                        {% endfor %}
                                    {% else %}
                                        <tr><td colspan="7" class="no-data-td">No Data Found</td></tr>
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>



{% endblock %}